---
import Container from "../Container.astro";
import about from "../../data/about";
---

<section id="inicio" class="border-b-[1px] border-secundary-light">
    <Container
        class="container flex flex-col md:flex-row gap-6 justify-between items-center px-6 py-16"
    >
        <div class="flex flex-col gap-6 w-full">
            <div class="flex flex-col gap-4">
                <h1 class="text-7xl font-bold">
                    <span class="text-primary">{about.title}</span>
                    <span class="text-slate-100">{about.edition}</span>
                </h1>
                <p>
                    {about.description}
                </p>
            </div>

            <div class="flex flex-wrap gap-4 items-center">
                <button
                    class="bg-primary px-4 py-2 rounded font-medium text-white"
                >
                    <a href={about.subscribe_cta_1.link} target="_blank"
                        >{about.subscribe_cta_1.text} ➜</a
                    >
                </button>
                <p>{about.date}.</p>
            </div>
        </div>

        <div class="flex justify-end gap-6 w-full">
            <figure
                class="h-auto w-full max-w-[600px] aspect-square overflow-hidden"
            >
                <img
                    src="./imgs/branding/duke-thumb-black.svg"
                    alt=""
                    class="rotate-[-15deg]"
                />
            </figure>
        </div>
    </Container>
</section>
